* {
    box-sizing: border-box;
  }
  
body {
margin: 0;
font-family: sans-serif;
background: #f5f6f7;
}
  
.nav{
position: fixed;
top: 0;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
display: table;
width: 100%;
table-layout: fixed;
background-color: #0a0a23;
border-bottom: 1px solid #fdb347;
}

.nav a{
text-decoration: none;
font-size: 2.5vw;
display: table-cell;
text-align: center;
color: #f5f6f7;
padding-top: 0.5%;
padding-bottom: 0.5%;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
background-color: #121b31;
}

.nav a:hover{
    background-color: #fdb347;
}

.nav a.active{
    background-color: #1c3563;
    ;
}

.header {
padding: 1%;
background-color: #0a0a23;
border-bottom: 4px solid #fdb347;
}

.header h1{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 8vw;
line-height: 0.8;
text-align: center;
color: #fff;
margin-bottom: 2.5%;
}

.gallery {
display: flex;
flex-direction: row-reverse;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 0 auto;
padding: 2% 10%;
padding-bottom: 0;
}


.combo{
padding-top: 0.5%;
padding-left: 0.5%;
padding-right: 0.5%;
}
.combo:hover{
transition: transform 0.3s;
transform: scale(1.5);
background-color: #0a0a23;
border-radius: 7px;
color: white;
}

.combo:active{
    transition: transform 0.3s;
    transform: scale(3);
    background-color: #0a0a23;
    border-radius: 7px;
    color: white;
    }
.combo img {
width: 100%;
max-width: 350px;
height: 300px;
object-fit: cover;
border-radius: 7px;
padding-bottom: 0px;
}

.combo video{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 7px;
    padding-bottom: 0px;
}

/* .combo img:hover{
transform: scale(1.5);
box-shadow: 5px black;
} */

.combo p {
margin-top: -5px;
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
font-size: 1.2vw;
padding: 0%
}

.showcase{
    text-align: center;
    padding: 0.5% 10%;
}
.showcase img{
    object-fit: cover;
    border-radius: 8px;
}

.desc p{
    margin-top: -2%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    line-height: 1;
}

.RWDC img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 7px;
    padding-bottom: 0px;
    border-radius: 20px;
}
/* .gallery::after {
content: "";
width: 72%;
} */
