* {
    box-sizing: border-box;
  }
  
body {
margin: 0;
font-family: sans-serif;
background: #f5f6f7;
}
  
div.nav{
position: fixed;
top: 0;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
font-size: 1.3vw;
display: table;
width: 100%;
table-layout: fixed;
background-color: #0a0a23;
border-bottom: 1px solid #fdb347;
}

div.nav a{
display: table-cell;
text-align: center;
color: #f5f6f7;
padding-top: 0.5%;
padding-bottom: 0.5%;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
background-color: #121b31;


}

div.nav a:hover{
    background-color: #fdb347;
}

div.nav a.active{
    background-color: #1c3563;
    ;
}

.header {
padding: 1%;
background-color: #0a0a23;
border-bottom: 4px solid #fdb347;
}

.header h1{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 8vw;
line-height: 0.8;
text-align: center;
color: #fff;
margin-bottom: 2.5%;
}

.gallery {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 0 auto;
padding: 2% 10%;
}

.combo{
padding: 0.5%;
}
.combo:hover{
transition: transform 0.3s;
transform: scale(1.5);
background-color: #0a0a23;
border-radius: 7px;
color: white;
}
.combo img {
width: 100%;
max-width: 350px;
height: 300px;
object-fit: cover;
border-radius: 7px;
padding-bottom: 0px;
}

/* .combo img:hover{
transform: scale(1.5);
box-shadow: 5px black;
} */

.combo p {
margin-top: -5px;
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
font-size: 1.5vw;
padding: 0%
}

/* .gallery::after {
content: "";
width: 72%;
} */
